.DevCreateImage {
  height: 1000px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.DevCreateImage::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.DevCreateImage * {
  position: relative;
  z-index: 2;
}

.DevCreateImage h1, .DevCreateImage h2 {
  color: white;
}

.DevCreateImage h1 {
  font-size: 60px;
  padding-top: 50px;
  margin-top: 0;
}

.accountForm {
  padding-top: 40px;
  width: 550px;
  height: 450px;
  margin: auto;
  position: relative;
}

label {
  color: white
}
#developerHeader {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
}

button {
  margin-top: 30px;
}
