.EmpCreateImage {
  height: 900px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.EmpCreateImage::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.EmpCreateImage * {
  position: relative;
  z-index: 2;
}

.EmpCreateImage h1, .EmpCreateImage h2 {
  color: white;
}

.EmpCreateImage h1 {
  font-size: 60px;
  padding-top: 100px;
  margin-top: 0;
}

.accountForm {
  padding-top: 40px;
  width: 550px;
  height: 450px;
  margin: auto;
  position: relative;
}

label {
  color: white;
  
}

#employerHeader {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
}

#submitBtn {
  margin-top: 100px;
}